.sec01{text-align:center;  position:relative}
.sec01w{width:1800px; margin:0 auto; position:relative;}
.sec01 .video_box video {width : 100%;	height : auto;	z-index : -1;}
.sec02{background:#f2f6f7; padding:60px 0 80px; text-align:center}
.sec-title{font-size:48px; color:#222222; font-family: 'Futura-Medium'; text-transform:uppercase; letter-spacing:-2px; font-weight:600; padding-bottom:10px;}
.sec-stitle{color:#9b9c9d; font-size:18px; padding-bottom:10px;}
.sec-line{width:60px; height:1px; background:#535353; margin:20px auto 40px }

.da-thumbs {	list-style: none;	width:1480px;	position: relative;	margin: 0px auto;	padding: 0;}
.da-thumbs li{float: left;	margin: 0 20px 20px 0;	background: #fff;	position: relative; width:280px; height:320px; box-sizing:border-box; display:block}
.da-thumbs li:nth-child(5n){margin-right:0;}
.da-thumbs li .cover p{display:none}
.da-thumbs li a {	overflow: hidden; display:block; }
.da-thumbs li a:hover .cover {	position: absolute;	background:url(../img/da-thumbs-bg.png) rgba(204,50,38,0.9) no-repeat center 200px; width:280px; height:320px; color:rgba(255,255,255,1); padding:0px; box-sizing:border-box}
.da-thumbs li a:hover .cover p{display:block;}
.da-thumbs .guidebox-title{padding:40px 10px 20px; font-size:20px; font-weight:700; color:#3f3f3f}
.da-thumbs .da-etitle{padding-left:30px; font-size:13px; color:#727272; padding-bottom:15px;}
.da-thumbs .line{width:50px; height:1px; background:#777777; margin-left:30px; margin-bottom:30px; }
.da-thumbs .guidebox-stitle{ margin-left:10px; margin-right:10px; color:#797979; line-height:160%; font-size:15.5px; }
.da-thumbs .guidebox-more{border:1px solid #dcdcdc; width:80px; height:25px; line-height:25px; text-align:center; font-weight:600; margin-left:30px; margin-top:20px;}
.da-thumbs .cover .guidebox-title,  .da-thumbs .cover .line, .da-thumbs .cover .guidebox-stitle{color:rgba(255,255,255,1); }
.da-thumbs .cover .line{background:#fff}
.da-thumbs .cover .da-etitle{color:#ffe3b7;}
.da-thumbs .guideboxico {width:100%; height:200px; }
.da-thumbs .guideboxico01{background:url(../img/images/main/guide01.png) no-repeat center; }
.da-thumbs .guideboxico02{background:url(../img/images/main/guide02.png) no-repeat center; }
.da-thumbs .guideboxico03{background:url(../img/images/main/guide03.png) no-repeat center; }
.da-thumbs .guideboxico04{background:url(../img/images/main/guide04.png) no-repeat center; }
.da-thumbs .guideboxico05{background:url(../img/images/main/guide05.png) no-repeat center; }

.sec03{background:#f9f9f9;}
.sec03w{width:1350px; margin:0 auto; padding:50px 0 30px; overflow:hidden}

.sec03tb{float:left;  width:160px; margin-right:155px; text-align:center; position:relative}
.sec03tb .sec-title{font-size:52px; color:#222222}
.sec03tb .sec03-line{width:60px; height:1px; background:rgba(51,51,51,1); margin:10px auto}
.sec03tb .sec03-stitle{font-size:18px; color:#7f7f7f; padding-bottom:30px}
.sec03w .more a{border:1px solid #dddddd; width:75px; height:27px; box-sizing:border-box; line-height:25px;  background:url(../img/images/main/plusgray.png) no-repeat 85% center #fff;  padding-left:12px; box-sizing:border-box; display:inline-block; text-align:left;  font-size:14px;}
.sec03w .more a:hover{ color: #d51c29; border: 1px solid #d51c29; background:url(../img/images/main/dotb.png) no-repeat 87% center #fff; }

.sec03cb{float:left; width:calc(100% - 315px)}
.sec03cb .sec03box{width:315px; height:260px; background:rgba(255,255,255,1); float:left; margin-right:30px; padding:30px 20px 0 25px; box-sizing:border-box; position:relative}
.sec03tb .more a{width:90px; height:30px; line-height:28px;  background:url(../img/images/main/plusgray.png) no-repeat 85% center #fff; color:#6a6a6a; padding-left:18px;}

.sec03cb .sec03box:nth-child(3){margin-right:0;}
.sec03cb .line{width:28px; height:1px; background:#9c9c9c; margin-bottom:15px; }
.sec03cb .sec03box-title{ height:80px; color:#383838; font-size:22px; font-weight:600; letter-spacing:-2px;}
.sec03cb .sec03box-detail{color:#797979; font-size:13px; height:60px; overflow:hidden; margin-bottom: 25px;}
.sec03cb .sec03box-day{color:#797979; font-size:14px;}
.sec03cb .sec03box-day span{padding:0 10px; position:relative}
.sec03cb .sec03box-day span::before {display: block; position: absolute;  top: 5px; left: -1px; width: 1px; height: 12px;border-left: 1px solid #d0d0d0;  content: ''; }
.sec03cb .sec03box-day span:first-child::before{border:none;}
.sec03cb .sec03box-title:hover{ color: #d51c29; }
.sec03cb .sec03box-detail:hover{ color: #d51c29; }
.sec03cb .more a{position:absolute; right:20px; bottom:20px;}


.sec04{ padding-top:100px;}
.sec04 .da-thumbs{width:1750px;}
.sec04 .da-thumbs li{margin-right:25px; width:325px; height:325px;}

.sec04 .da-thumbs li a:hover .cover {	width:325px; height:325px; background-position:center 100px}
.sec04 .s-cover{text-align:center; font-size:18px; padding-top:180px;}
.sec04 .mCSB_scrollTools .mCSB_draggerContainer{ left:50%; margin-left:-550px; width:1100px !important;}
.sec04 .mCustomScrollBox>.mCSB_scrollTools{ opacity: 1 !important; }
.sec05{padding:100px 0; text-align:center}
.sec05-stitle{font-size:17px; width:550px; text-align:center; margin:20px auto 110px; color:#585858} 
.sec05-list{overflow:hidden; width:920px; margin:0 auto; position:relative; z-index:1 }
.sec05-list .sec05listbox{float:left; width:220px}
.sec05-list .sec05listbox:nth-child(2){padding:0 130px;}
.sec05-list:before{content:''; width:90%; height:1px; background:rgba(204,204,204,1); position:absolute; top:100px; z-index:-1; left:20px}

.sec05-list .sec05s{width:180px; height:180px; background:rgba(0,0,0,1); border-radius:100%; color:rgba(255,255,255,1); font-size:26px; font-weight:500; padding-top:60px; box-sizing:border-box; margin: 0 auto; cursor:pointer;}
.sec05-list .sec05s:hover{background:#cc3228; transition: all 0.2s ease-in; }
.sec05-list .sec05s:hover  .line{background:rgba(255,255,255,1);  transition: all 0.2s ease-in;}
.sec05-list .sec05s .line{display:block; width:40px; height:1px; background:#787878; margin:10px auto;}
.sec05-list .sec05stxt{padding-top:20px; font-size:16px; color:#454545}



.sec06{background:#ebf0ff; padding:75px 0 95px; text-align:center}
.sec06w{width:1375px; margin:60px auto 0; overflow:hidden}
.sec06w > div{float:left}
.sec06w .newsletter{width:440px; height:415px;   background:url(../img/images/main/servicebg.png) no-repeat; text-align:left; padding:40px; box-sizing:border-box; color:rgba(255,255,255,1)}
.sec06w .newsletter .news-title{font-size:28px; color:#fbfbfb; padding-bottom:10px; font-weight:500}
.sec06w .newsletter .news-stitle{font-size:16px; color:#bebcbb; padding-bottom:10px;}
.sec06w .newsletter .news-detail{font-size:14px; color:#a7a5a3; padding-bottom:20px;}
.sec06w .newsletter .more {border:1px solid #FFF; width:105px; height:30px; line-height:30px; text-align:center; font-size:15px;}


.sec06w .newsletter:hover .news-title{color:rgba(255,255,255,1);}
.sec06w .newsletter:hover .news-stitle{text-decoration:underline;}
.sec06w .newsletter:hover .news-detail{text-decoration:underline;}
.sec06w .newsletter:hover .more{border:1px solid #CCC; color:#CCC}


.sec06w .sec06box{background:rgba(255,255,255,1); width:440px; height:415px;  margin-left:25px; text-align:left;  box-sizing:border-box; }
.sec06w .sec06sbox{border-bottom:1px solid rgba(204,204,204,1); height:220px; box-sizing:border-box; padding:30px 30px 0 30px; }

.sec06w .sec06sbox-title{font-size:22px; font-weight:600;  color:#2b2b2b}
.sec06w .sec06sbox-stitle{font-size:14px; color:#2b2b2b; padding-bottom:10px;}
.sec06w  .sec06sbox-detail{font-size:12px; color:#6f6f6f; padding-bottom:10px; height:60px;}
.sec06w .sec06box .more{border:1px solid #7d7d7d; width:105px; height:30px; line-height:28px; text-align:center; font-size:14px; cursor:pointer; color:#333}

.sec06w .sec06sbox:hover{background:#cc3228; color:rgba(255,255,255,1)}
.sec06w .sec06sbox:hover .sec06sbox-title{color:#f8f8f8; }
.sec06w .sec06sbox:hover .sec06sbox-stitle{color:#edd0cf; }
.sec06w .sec06sbox:hover .sec06sbox-detail{color:#edd0cf; }
.sec06w .sec06sbox:hover .more{border:1px solid #edd0cf; color:#fff; }
.sec06w .sec06sbox:hover .more:hover{ background: #af2219; }

.sec06w .sec06sbox:nth-child(2n) .sec06sbox-detail{ height:40px;}
.sec06w .sec06sbox:nth-child(2n){padding-top:20px;}
.sec06sbox01{ background:url(../img/images/main/service01.png) no-repeat 350px 30px;}
.sec06sbox02{ background:url(../img/images/main/service02.png) no-repeat 310px 30px;}
.sec06sbox03{ background:url(../img/images/main/service03.png) no-repeat 330px 30px;}
.sec06sbox04{ background:url(../img/images/main/service04.png) no-repeat 320px 30px;}

.sec06w  .sec06sbox01:hover{background:#cc3228 url(../img/images/main/service01.png) no-repeat 350px 30px;}
.sec06w  .sec06sbox02:hover{background:#cc3228 url(../img/images/main/service02.png) no-repeat 310px 30px;}
.sec06w  .sec06sbox03:hover{background:#cc3228 url(../img/images/main/service03.png) no-repeat 330px 30px;}
.sec06w  .sec06sbox04:hover{background:#cc3228 url(../img/images/main/service04.png) no-repeat 320px 30px;}

/*
@media only all and (max-width: 1500px){
.sec01w{width:100%;}
.header .container{width:100%;}
.sec03w{width:96%; margin:0 2%}
.header .container .float-left{width:270px;}
.header .container .float-right{width:calc(100% - 270px)}
.da-thumbs{width:96%; margin:0 2%}
.sec04 .da-thumbs{width:98%;}
.sec06w{width:96%; margin:0 2%}
.footer .container, .footaddress .container{width:100%; padding:0 0 0 2%; box-sizing:border-box}
.footaddress .footcare{padding-right:15px;}
.da-thumbs li {width:24%; margin-right:1%;}
.da-thumbs li a{width:100%;}
.sec06w .newsletter{width:32%; margin-right:1%; margin-left:0}
.sec06w .sec06box{width:32%; margin-right:1%;  margin-left:0}
.sec03tb{ width:24%; margin-right:1%;}
.sec03cb .sec03box{width:32%; margin-right:1%; height:auto; padding-bottom: 20px;}
.sec03cb{width:calc(100% - 25%)}
}
*/
@media only all and (max-width: 1024px){

	.mainw{ word-wrap: break-word; word-break: keep-all; }
	.sec01 .video_box video{ left: 0; width: 100%; }
	.sec-title{font-size:36px;}
	.da-thumbs{width:100%;}
	.sec02{padding:0 2%; box-sizing:border-box; padding:40px 0 20px}
	.sec02 .da-thumbs li:nth-child(4n){margin-right:auto;}
	.sec02 .da-thumbs li{float:none; margin:0 auto 10px;}
	.sec03w{width:100%;  padding:40px 0 20px}
	.sec03tb{width:100%; margin-right:0; margin-bottom:30px; padding:0 25px; box-sizing:border-box; overflow:hidden}
	.sec03cb{width:100%;}
	.sec03cb .sec03box{width:100%; margin-right:0; height:auto; margin-bottom:10px; padding-bottom:20px;}
	.sec03tb .sec-title{font-size:36px; float:left; padding-right:10px;}
	.sec03tb .more a{float:right; margin-top:10px;}
	.sec03tb .sec03-line{display:none;}
	.sec03tb .sec03-stitle{float:left;     padding-top: 10px;    padding-bottom: 0;}
	.sec04{padding:0 2%;}
	.sec04 .da-thumbs{width:100%;}
	.sec04 .mCSB_scrollTools .mCSB_draggerContainer{left:0; margin-left:0; width:100% !important;}
	.sec05-list{width:100%;}
	.sec05-list .sec05listbox:nth-child(2){padding:0;}
	.sec05-list:before{display:none;}
	.sec05{padding:30px 0;}
	.sec05-stitle{width:100%; padding:0 2%; box-sizing:border-box; margin-bottom:30px; }
	.sec05-list .sec05listbox{margin: 0  auto 20px; float:none}

	.sec06w{width:auto; margin-top: 20px;}
	.sec06w .newsletter{    width: 98%;    margin: 0 1%; background-size: cover;     height: auto; margin-bottom:10px;}
	.sec06w .sec06box{ width: 98%;    margin: 0 1%;  height:auto;}
	.sec06w .sec06sbox{height:auto; padding-bottom:20px}

	.sec06sbox01{ background-position:90% 20px; background-size:70px;}
	.sec06sbox02{  background-position:90% 20px; background-size:70px;}
	.sec06sbox03{ background-position:90% 20px; background-size:50px;}
	.sec06sbox04{ background-position:90% 20px; background-size:70px;}

	.sec06w  .sec06sbox01:hover{background-position:90% 20px; background-size:70px;}
	.sec06w  .sec06sbox02:hover{background-position:90% 20px; background-size:70px;}
	.sec06w  .sec06sbox03:hover{background-position:90% 20px; background-size:70px;}
	.sec06w  .sec06sbox04:hover{background-position:90% 20px; background-size:70px;}
	.sec06{padding-bottom:10px;}
	.sec01{/*height:350px;*/}
	.videotxt1 img{ margin-top: 30px; width: 170px; }
	.sec01 .videotxt{ top: 170px; width: 92%; left: 20px; }
	.sec01w{width:100%;}
	.da-thumbs li {width:100%;   box-sizing: border-box;}
	.da-thumbs li a:hover .cover{width:100%; display:none}
	.da-thumbs li a{width:100%;}
	.sec04 .da-thumbs li img{ width:100%}
	.sec03cb .sec03box-title{height:auto; padding-bottom:10px;}
	.sec03cb .sec03box-detail{height:auto;}
	
}





